// color
$color-pink-1: #b61984;
$color-pink-2: #dcd1f3;

$color-white-1: #ffffff;

$color-black-1: #191919;
$color-black-2: #181818;


// fotn size
$fs-1: 15px;
$fs-2: 13px;
$fs-3: 0.9rem;


// font weight
$fw-1: 100;
$fw-2: 300;
$fw-3: 400;
$fw-4: 500;
$fw-5: 600;
$fw-6: 700;
$fw-7: 900;


// line-weight
$lh-1: 1.8em;
$lh-2: 48px;
$lh-3: 80px;
$lh-4: 1;

// padding
$pd-1: 50px;
$pd-2: 1.1em;
$pd-3: 1.5em;
$pd-4: 30px;
$pd-5: 0.5em;

// margin
$ml-1: 1em;

// radius
$rad-1: 50px;

// border
$bd-1: 1px;

// max-width
$max-width-1: 1260px;

