header {
  // background: transparent;
  // background-image: url(../../img/yellow_top_wave_01.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  .container {
    margin-top: 0;
    padding-top: 0;
  }

  // Menu text
  .navbar {
    margin-top: 0;
    padding-top: 0;
    .nav-item {
      .nav-link {
        @include styleText($fs-2, $fw-5, $color-black-2);
        
        // NOT hover YET
        // hover
        &:hover {
          @include styleText($fs-2, $fw-5, $color-pink-1);
        }

        // TODO: --bs-navbar-nav-link-padding-x: 0rem
        --bs-navbar-nav-link-padding-x: 0;
      }

      // padding
      @include stylePadding4Dims(0, $pd-1, 0, 0);
    }
  }

  .socialIcon {
    @include styleText($fs-2, $fw-4, $color-black-2);
    text-decoration: none;
  }

}